<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drugpresc">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".DietMain" />
        <activity android:name=".Druglistmain" />
        <activity
            android:name=".ListView3"
            android:label="@string/title_activity_list_view3"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ListView1" />
        <activity android:name=".AlarmScreen4" />
        <activity android:name=".AlarmScreen3" />
        <activity android:name=".AlarmScreen2" />
        <activity android:name=".SyrupAlarm" />
        <activity android:name=".DropAlarm" />
        <activity android:name=".AntiSepAlarm" />
        <activity android:name=".AlarmScreen1" />
        <activity android:name=".PrescAlarm1" />


        <activity android:name=".Diet" />
        <activity android:name=".Syrups" />
        <activity android:name=".Drops" />
        <activity android:name=".AntiSeptics" />

        <activity android:name=".DrugList" />
        <activity android:name=".PrescriptionForm" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyAlarm"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".MyAlarm2"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".MyAlarm3"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".MyAlarm4"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>